@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}
body {
  background-color: #191919;
}

@theme inline {
  --color-card: #202020;
  --color-flame: #fa8c01;
  --color-flame-secondary: #a96222;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.popup-animation {
  animation: dropdownlist 0.1s linear forwards;
}
.popclose-animation {
  animation: dropdownlistClose 0.1s linear forwards;
}
.finish-task-animation {
  animation: finishTask 0.4s forwards ease-out;
}
@keyframes finishTask {
  from {
    transform: translateX(0);
    opacity: 100;
  }
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}

@keyframes dropdownlist {
  from {
    opacity: 0;
    scale: 0.85;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}
@keyframes dropdownlistClose {
  from {
    opacity: 1;
    scale: 1;
  }
  to {
    opacity: 0;
    scale: 0.85;
  }
}
.menuToggleAnimation {
  animation: menuToggle 0.2s forwards ease-in;
}

.recordExpenseToggleAnimation {
  animation: recordExpense 0.2s forwards ease-out;
}
.recordIncomeToggleAnimation {
  animation: recordIncome 0.2s forwards ease-out;
}

@keyframes recordExpense {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes recordIncome {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes menuToggle {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 100;
  }
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

*::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
/* Remove arrows in Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
